@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic.woff2') format('woff2'),
        url('OpenSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('OpenSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('OpenSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('OpenSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: 'Open Sans';
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Header */
header {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
}

.head_wrapper {
    display: flex;
    justify-content: space-between;
}

.logo_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_wrap a {
    display: inline-block;
}

.logo_wrap a img {
    width: 250px;
    height: 80px;
    object-fit: contain;
}

.call_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call_wrap span {
    font-weight: bold;
    font-size: 25px;
    color: #f16e43;
    text-align: right;
}

.call_wrap a {
    font-size: 40px;
    color: #fff;
    display: block;
    line-height: 1;
    font-weight: bold;
    transition: 0.3s;
}

.call_wrap a:hover {
    color: #f16e43;
    text-decoration: none;
}

/* banner_wrapper */
.banner_wrapper {
    height: 100vh;
    background: url(../images/banner_bg.jpg) no-repeat center/ cover;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.banner_wrapper::after {
    content: '';
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner_content {
    z-index: 1;
    text-align: center;
    max-width: 80%;
    margin: 113px auto 0;
}

.banner_content p {
    font-size: 31px;
    font-weight: bold;
    color: #fff;
}

.banner_content p.paragraph {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 43px;
}

.banner_content span {
    font-size: 31px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 50px;
    display: block;
}

.banner_content h1 {
    font-weight: 800;
    font-size: 62px;
    color: #f16e43;
    margin-top: 35px;
    margin-bottom: 45px;
}

.orange_btn a {
    font-size: 21px;
    font-weight: bold;
    background: #f16e43;
    color: #fff;
    width: 490px;
    display: inline-block;
    padding: 20px 0;
    text-transform: uppercase;
    transition: 0.3s;
}

.orange_btn a:hover {
    color: #f16e43;
    background: #fff;
    text-decoration: none;
}

.listing_wrapper {
    list-style: none;
    margin-top: 40px;
}

.listing_wrapper li {}

.listing_wrapper p {
    position: relative;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    padding-left: 33px;
}

.listing_wrapper p::after {
    content: '';
    background: url(../images/trueicon.png) no-repeat center/ contain;
    position: absolute;
    left: -12px;
    top: 0;
    width: 30px;
    height: 30px;
}

/* component_heading */
.component_heading {
    position: relative;
    font-size: 55px;
    font-weight: 800;
    color: #fff;
    text-align: center;
}

.component_heading::after {
    content: '';
    position: absolute;
    bottom: -21px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 215px;
    height: 5px;
    background: #f16e43;
}

/* form_wrapper */
.form_wrapper {
    border-top: 6px solid #001e33;
    background: #004a80;
    padding: 30px 0 98px;
}

.form_wrapper .component_heading {
    margin-bottom: 78px;
}

form input,
textarea {
    width: 496px;
    border-radius: 4px;
    border: none;
    padding: 14px 20px;
    margin-bottom: 27px;
}

form input::placeholder,
form textarea::placeholder {
    color: #000;
    font-weight: 600;
    font-size: 17px;
}

form button {
    width: 496px;
    font-size: 21px;
    font-weight: bold;
    background: #f16e43;
    color: #fff;
    border: none;
    padding: 19px 0;
    transition: 0.3s;
}

form button:hover {
    color: #f16e43;
    background: #fff;
}

.form_info {
    margin-top: 13px;

}

.form_info .listing_wrapper {
    list-style: none;
    margin-top: 57px;
}

.form_info h3 {
    font-weight: bold;
    font-size: 28px;
    color: #f16e43;
    line-height: 1.3;
}

.form_info .listing_wrapper p {
    color: #fff;
    line-height: 1.2;
}

/* representation_wrapper */
.representation_wrapper {
    padding: 127px 0 123px;
}

.representation_wrapper h3 {
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    color: #000;
    margin-bottom: 100px;
}

.representation_content h4 {
    font-weight: 800;
    font-size: 30px;
    color: #f16e43;
    margin-bottom: 50px;
}

.listing_wrapper p {
    padding-left: 0px;
    color: #000;
    font-size: 21px;
}

.listing_wrapper p::after {
    width: 19px;
    height: 19px;
    left: -40px;
    top: 8px;
}

.representation_wrapper .container {
    max-width: 1500px;
}

.representation_wrapper .col-lg-7.d-flex {
    flex-direction: column;
    justify-content: flex-end;
}

.representation_wrapper .col-lg-7.d-flex .representation_img {
    position: relative;
    margin-bottom: 20px;
}

.owners_wrapper .container {
    max-width: 1590px;
}

.owner_info h4 {
    font-size: 31px;
    font-weight: 800;
    margin-bottom: 67px;
}

.owner_img {
    position: relative;
}

.owner_img img {
    margin-top: 40px;
    margin-left: 24px;
}

.owner_img::before {
    content: '';
    background: #f16e43;
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
    height: 40px;
}

.owner_img::after {
    content: '';
    background: #f16e43;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 395px;
}

.representation_wrapper .col-lg-7.d-flex .representation_img::before {
    content: '';
    position: absolute;
    top: -70px;
    right: -20px;
    left: 0;
    width: 620px;
    height: 70px;
    background: #004a80;
    margin: 0 auto;
}

.owner_blogs_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.owner_blogs {
    display: flex;
    max-width: 50%;
    margin-bottom: 36px;
}

.icon_info {
    margin-left: 25px;
}

.icon_info h5 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 11px;
}

.icon_info p {
    font-size: 21px;
    font-weight: normal;
    padding-right: 50px;
}

.owner_info {
    margin-left: 65px;
}

/* ticket_wrapper */
.ticket_wrapper {
    background: #f16e43;
    padding: 23px 0;
}

.ticket {
    text-align: center;
}

.ticket p {
    color: #fff;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 0;
}

.ticket p a {
    color: #fff;
    display: inline-block;
    margin-left: 10px;
}

/* started_wrap */
.started_wrap {
    padding: 125px 0 125px;
}

.started_wrap .component_heading {
    color: #000;
    font-size: 55px;
    margin-bottom: 116px;
}

.started_wrap .component_heading::after {
    bottom: -31px;
}

.starter_content h6 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 59px;
}

.starter_content p {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 42px;
}

.starter_content .orange_btn a {
    text-align: center;
    width: 425px;
    padding: 24px 0;
}

.starter_img img {
    max-width: 600px;
}

.starter_content .orange_btn a:hover {
    background: #004a80;
    color: #fff;
}

/* clients_wrapper */
.clients_wrapper {
    background: #004a80;
}

.our_clients h2 {
    font-size: 60px;
    font-weight: 600;
    position: relative;
    color: #fff;
    margin-bottom: 50px;
    padding-left: 37px;
}

.our_clients h2::after {
    content: '';
    position: absolute;
    background: #f16e43;
    width: 215px;
    height: 5px;
    bottom: -45px;
    left: 39px;
}

.our_clients {
    padding-top: 100px;
}

.clients_logo {
    margin-top: 76px;
}

.clients_logo ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0;
}

.clients_logo ul li {
    max-width: 19%;
    flex: 0 0 19%;
    margin-bottom: 84px;
    margin-right: 46px;
}

.clients_logo ul li:nth-child(5),
.clients_logo ul li:nth-child(6),
.clients_logo ul li:nth-child(7),
.clients_logo ul li:nth-child(8) {
    margin-bottom: 26px;
}

.client_img {
    display: flex;
    height: 100%;
}

.client_img img {
    width: 100%;
    border-top: 2px solid #004a80;
    border-bottom: 2px solid #004a80;
    object-fit: cover;
}

/* form_type1_wrapper */
.form_type1_wrapper {
    padding: 112px 0 87px;
}

.form_typ1_content {
    padding-left: 106px;
    padding-top: 107px;
}

.form_typ1_content h6 {
    font-size: 55px;
    font-weight: 800;
    color: #000;
    position: relative;
    margin-bottom: 93px;
}

.form_typ1_content h6::after {
    content: '';
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 215px;
    height: 5px;
    background: #f16e43;
}

.form_typ1_content p {
    font-size: 26px;
    font-weight: normal;
}

.form_typ1 {
    background: #004a80;
    max-width: 620px;
    margin: 0 auto;
    padding: 54px 60px 87px;
    margin-right: 0;
}

.form_typ1 h2 {
    font-weight: 800;
    font-size: 38px;
    color: #fff;
    position: relative;
    margin-bottom: 63px;
}

.form_typ1 h2::after {
    content: '';
    background: #2fb34d;
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 215px;
    height: 5px;
}

.form_typ1 textarea {
    margin-bottom: 24px;
}

/* footer */
.copy_right {
    background: #000;
    padding: 36px 0;
}

.copy_right p {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
}

/* Media Query */
@media(max-width: 1440px) {
    .representation_wrapper .container {
        max-width: 1400px;
    }

    .owners_wrapper .container {
        max-width: 1400px;
    }

    .owner_img::before {
        width: 520px;
    }

    .our_clients h2 {
        padding-left: 0px;
        font-size: 55px;
    }

    .our_clients h2::after {
        left: 0;
    }

    .clients_logo ul li {
        margin-right: 30px;
    }

    .form_typ1_content {
        padding-left: 0;
    }
}

@media(max-width: 1280px) {

    form input,
    textarea {
        width: 100%;
    }

    form button {
        width: 100%;
    }

    .representation_wrapper .col-lg-7.d-flex {
        flex-direction: column;
        justify-content: center;
    }

    .listing_wrapper p br {
        display: none;
    }

    .owner_img::before {
        width: 430px;
    }

    .owner_img::after {
        height: 350px;
    }

    .owner_info {
        margin-left: 30px;
    }

    .icon_info p {
        padding-right: 30px;
    }

    .starter_img img {
        width: 100%;
    }

    .our_clients h2 {
        font-size: 50px;
    }
}

@media(max-width: 1200px) {
    .banner_content h1 {
        font-size: 55px;
    }

    .banner_content p.paragraph {
        font-size: 25px;
    }

    .component_heading {
        font-size: 40px;
    }

    .form_info h3 br {
        display: none;
    }

    .representation_wrapper h3 {
        font-size: 40px;
    }

    .representation_content h4 {
        font-size: 25px;
    }

    .listing_wrapper p {
        font-size: 18px;
    }

    .representation_wrapper .col-lg-7.d-flex .representation_img::before {
        top: -50px;
        width: 450px;
        height: 50px;
    }

    .owner_img::before {
        width: 350px;
    }

    .owner_img::after {
        height: 300px;
    }

    .icon_info p {
        padding-right: 20px;
        font-size: 18px;
    }

    .started_wrap .component_heading {
        font-size: 45px;
    }

    .our_clients h2 {
        font-size: 40px;
    }

    .clients_logo ul li {
        max-width: 26%;
        flex: 0 0 26%;
    }

    .form_typ1_content h6 {
        font-size: 40px;
    }

    .form_typ1_content p {
        font-size: 25px;
    }

    .form_typ1 h2 {
        font-size: 30px;
    }
}

@media(max-width: 991px) {
    .logo_wrap a img {
        width: 200px;
        height: 70px;
    }

    .banner_content {
        max-width: 100%;
        padding: 0 30px;
        margin: 100px auto 0;
    }

    .banner_content p {
        font-size: 25px;
    }

    .banner_content h1 {
        font-size: 40px;
    }

    .banner_content p.paragraph {
        font-size: 22px;
    }

    .banner_content span {
        font-size: 25px;
    }

    .orange_btn a {
        font-size: 20px;
        width: 320px;
    }

    .form_wrapper {
        padding: 50px 30px 50px;
    }

    .form_wrapper .component_heading {
        margin-bottom: 60px;
        font-size: 35px;
    }

    .form_wrapper form {
        max-width: 60%;
        margin: 0 auto;
    }

    .form_info {
        margin-top: 50px;
    }

    .representation_wrapper {
        padding: 50px 30px 50px;
    }

    .representation_wrapper h3 {
        font-size: 35px;
    }

    .representation_wrapper h3 {
        margin-bottom: 30px;
    }

    .listing_wrapper {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    .representation_content h4 {
        margin-bottom: 30px;
    }

    .representation_wrapper .col-lg-7.d-flex .representation_img::before {
        top: -40px;
        width: 80%;
        height: 40px;
    }

    .owners_wrapper .row {
        flex-direction: column-reverse;
    }

    .owner_img::before {
        width: 80%;
    }

    .owner_img::after {
        height: 80%;
    }

    .owners_wrapper {
        padding: 0 30px;
        padding-bottom: 50px;
    }

    .ticket p {
        font-size: 30px;
    }

    .started_wrap {
        padding: 50px 30px 50px;
    }

    .started_wrap .component_heading {
        font-size: 35px;
        margin-bottom: 70px;
    }

    .starter_img {
        text-align: center;
        margin-bottom: 30px;
    }

    .starter_content p {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .starter_content h6 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .starter_content .orange_btn a {
        width: 320px;
        padding: 24px 0;
    }

    .clients_wrapper {
        padding: 0 30px;
    }

    .clients_logo ul li {
        max-width: 20%;
        flex: 0 0 20%;
    }

    .clients_logo ul {
        justify-content: center;
    }

    .our_clients {
        padding-top: 50px;
    }

    .our_clients h2 {
        font-size: 35px;
    }

    .form_typ1_content h6 {
        font-size: 35px;
        margin-bottom: 50px;
    }

    .form_typ1_content {
        padding-top: 0;
    }

    .form_type1_wrapper {
        padding: 50px 30px 50px;
    }

    .form_typ1_content p {
        font-size: 22px;
    }

    .form_typ1 {
        margin: 30px auto 0;
        margin-right: auto;
        max-width: 100%;
    }

    .starter_img img {
        max-width: 100%;
    }
}

@media(max-width: 767px) {
    .banner_wrapper{
        height: auto;
    }
    .banner_content {
        margin: 150px auto 50px;
    }
    .logo_wrap a img {
        width: 170px;
        height: 60px;
    }

    .call_wrap span {
        font-size: 20px;
    }

    .call_wrap a {
        font-size: 30px;
    }

    .icon_info p {
        padding-right: 10px;
        font-size: 17px;
    }

    .clients_logo ul li {
        max-width: 20%;
        flex: 0 0 20%;
        margin-right: 25px;
    }

    .banner_content p {
        font-size: 20px;
    }

    .banner_content h1 {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .banner_content p.paragraph {
        font-size: 18px;
    }

    .banner_content span {
        font-size: 18px;
    }

    .orange_btn a {
        font-size: 18px;
        width: 320px;
        padding: 15px 0;
    }

    .form_wrapper {
        padding: 50px 15px 50px;
    }

    .form_wrapper .component_heading {
        font-size: 30px;
    }

    .form_wrapper form {
        max-width: 100%;
    }

    .form_info .listing_wrapper {
        margin-bottom: 0;
    }

    .representation_wrapper h3 {
        font-size: 30px;
    }

    .owner_info h4 br {
        display: none;
    }

    .owner_blogs {
        max-width: 100%;
    }

    .started_wrap .component_heading {
        font-size: 29px;
    }

    .ticket p {
        font-size: 20px;
    }

    .ticket_wrapper {
        background: #f16e43;
        padding: 15px 0;
    }

    .clients_logo ul li {
        max-width: 50%;
        flex: auto;
    }

    .clients_logo {
        text-align: center;
    }

    .form_typ1_content h6 {
        font-size: 25px;
    }

    .form_typ1 h2 {
        font-size: 25px;
    }
}

@media(max-width: 480px) {
    .logo_wrap a img {
        width: 150px;
        height: 50px;
    }

    .call_wrap a {
        font-size: 22px;
    }

    .call_wrap span {
        font-size: 16px;
    }

    .orange_btn a {
        width: 100%;
    }

    .form_wrapper .component_heading {
        font-size: 25px;
    }

    .form_info h3 {
        font-size: 22px;
    }

    .representation_wrapper h3 {
        font-size: 25px;
    }

    .representation_content h4 {
        font-size: 22px;
    }

    .owner_info h4 br {
        display: none
    }

    .owner_info h4 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .owner_info {
        margin-left: 0;
    }

    .icon_info p {
        padding-right: 0px;
    }

    .representation_wrapper {
        padding: 50px 15px 50px;
    }

    .owners_wrapper {
        padding: 0 15px;
    }

    .started_wrap {
        padding: 50px 15px 50px;
    }

    .our_clients h2 br {
        display: none;
    }

    .our_clients h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .our_clients h2::after {
        bottom: -25px;
    }

    .clients_logo ul li {
        max-width: 100%;
        margin-right: 0;
        width: 100%;
    }

    .clients_wrapper {
        padding: 0 15px;
    }

    .started_wrap .component_heading {
        font-size: 25px;
    }

    .starter_content p {
        font-size: 20px;
    }

    .starter_content .orange_btn a {
        width: 100%;
        padding: 15px 0;
    }

    .starter_content h6 {
        font-size: 22px;
    }

    .form_type1_wrapper {
        padding: 50px 15px 50px;
    }

    .form_typ1_content p {
        font-size: 20px;
    }

    .form_typ1 {
        padding: 40px 20px 50px;
        max-width: 100%;
    }

    .copy_right p {
        font-size: 13px;
    }

    .copy_right {
        padding: 20px 0;
    }
}

@media(max-width: 374px) {
    .logo_wrap a img {
        width: 120px;
        height: 50px;
    }

    .call_wrap span {
        font-size: 14px;
    }

    .call_wrap a {
        font-size: 20px;
    }

    .banner_content {
        padding: 0 15px;
    }

    .banner_content p {
        font-size: 16px;
    }

    .banner_content h1 {
        font-size: 25px;
    }

    .banner_content p.paragraph {
        font-size: 16px;
    }

    .orange_btn a {
        font-size: 16px;
        padding: 10px 0;
    }

    .form_info h3 {
        font-size: 20px;
    }

    .representation_wrapper h3 {
        font-size: 20px;
    }

    .representation_content h4 {
        font-size: 18px;
    }

    .owner_info h4 {
        font-size: 20px;
    }

    .icon_info h5 {
        font-size: 20px;
    }

    .icon_info p {
        font-size: 16px;
    }

    .owner_img img {
        margin-left: 0;
        width: 100%;
    }

    .owner_img::after {
        left: -20px;
    }

    .owners_wrapper {
        padding: 0 15px 30px;
    }

    .started_wrap .component_heading {
        font-size: 20px;
    }

    .starter_content p {
        font-size: 18px;
    }

    .starter_content h6 {
        font-size: 20px;
    }

    .our_clients h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .our_clients h2::after {
        bottom: -25px;
        width: 100px;
    }

    .clients_logo ul li {
        margin-bottom: 30px;
    }

    .form_typ1_content h6 {
        font-size: 20px;
    }

    .form_typ1_content p {
        font-size: 18px;
    }

    .form_typ1 h2 {
        font-size: 20px;
    }

    form button {
        font-size: 18px;
        padding: 10px 0;
    }
}