@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('../fonts/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
        url('../fonts/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('../fonts/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
        url('../fonts/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'Roboto';
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Header */
header {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
}

.head_wrapper {
    display: flex;
    justify-content: space-between;
}

.logo_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_wrap a {
    display: inline-block;
}

.logo_wrap a img {
    width: 250px;
    height: 80px;
    object-fit: contain;
}

.call_wrap {
    display: flex;
    flex-direction: column;
}

.call_wrap span {
    display: block;
    font-size: 28px;
    font-weight: 900;
    color: #000;
    background: #2fb34d;
    padding: 18px 26px;
    border-radius: 6px;
    text-align: center;
    line-height: 1;
}

.call_wrap a {
    display: block;
    font-size: 46px;
    font-weight: 900;
    color: #fff;
    line-height: 1;
}

/* banner_wrapper */
.banner_wrapper {
    background: url(../images/banner_bg.jpg) no-repeat center/ cover;
    height: 1070px;
    position: relative;
    z-index: 1;
}

.banner_wrapper::after {
    content: '';
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner_heding_para {
    text-align: center;
    max-width: 70%;
    margin: 265px auto 52px;
}

.banner_heding_para p {
    font-size: 31px;
    font-weight: 500;
    color: #fff;
}

.banner_heding_para h1 {
    font-size: 62px;
    font-weight: 900;
    color: #f16e43;
}

.listing_wrapper {
    list-style: none;
    margin-top: 40px;
}

.listing_wrapper li {}

.listing_wrapper p {
    position: relative;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    padding-left: 33px;
}

.listing_wrapper p.light {
    font-size: 21px;
    font-weight: 300;
}

.listing_wrapper p::after {
    content: '';
    background: url(../images/trueicon.png) no-repeat center/ contain;
    position: absolute;
    left: -12px;
    top: 0;
    width: 30px;
    height: 30px;
}

.banner_content p {
    font-size: 28px;
    font-weight: normal;
    color: #fff;
}

.banner_content h2 {
    font-size: 31px;
    font-weight: 900;
    color: #fff;
}

/* Form */
form {
    background: #f16e43;
    padding: 60px 65px;
    max-width: 520px;
    margin: auto;
}

form h3 {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

form h3 span {
    font-weight: bold;
    color: #000;
}

form label {
    text-align: left;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 2px;
}

form input,
form textarea {
    border: none;
    padding: 8px 10px;
    margin: 6px auto 20px;
    display: block;
    width: 380px;
    border-radius: 4px;
}

form input[type=button] {
    background: #2fb34d;
    color: #fff;
    padding: 19px 15px;
    width: 380px;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 21px;
    transition: 0.3s;
}

form input[type=button]:hover {
    background: #fff;
    color: #2fb34d;
}

/* about_wrapper */
.about_wrapper {
    padding: 95px 0 58px;
}

.about_wrapper .banner_content p {
    font-size: 30px;
    font-weight: 500;
    color: #f16e43;
}

.about_wrapper .banner_content h2 {
    font-weight: bold;
    font-size: 55px;
    color: #000;
    margin-top: 35px;
    margin-bottom: 42px;
}

.about_wrapper .banner_content .listing_wrapper {
    margin-top: 50px;
}

.about_wrapper .banner_content .listing_wrapper li p {
    font-size: 24px;
    font-weight: 300;
    color: #000;
    padding-left: 35px;
    margin-bottom: 0;
}

.about_wrapper .banner_content .listing_wrapper li p::after {
    width: 19px;
    height: 19px;
    top: 9px;
    left: 2px;
}

.about_wrapper .col-lg-6.d-flex {
    flex-direction: column;
    justify-content: flex-end;
}

/* Call Ticket */
.call_ticket {
    background: #2fb34d;
    text-align: center;
    padding: 29.5px 0;
}

.call_ticket p {
    color: #fff;
    font-weight: 900;
    font-size: 46px;
    margin-bottom: 0;
}

.call_ticket p a {
    color: #000;
    font-weight: 900;
    margin-left: 24px;
}

/* slick_slider_wrapper */
.slick_slider_wrapper {
    background: url(../images/restuarent.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
    padding: 130px 0;
    overflow: hidden;
}

.slick_slider_wrapper::after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.slick_slider_wrapper .slider_wrap {}

.slick_slider_wrapper button.slick-arrow {
    display: none;
}

.slick_slider_wrapper .slick-dots {
    list-style: none;
}

.slick_slider_wrapper .slick-dots button {
    font-size: 0;
}

.slick_slider_wrapper .slider_content {
    text-align: center;
    background: #fff;
    min-height: 460px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding: 0 62px;
    max-width: 345px;
    margin: 0 auto;
}

.slick_slider_wrapper .slider_content figure img {
    margin: 0 auto;
}

.slick_slider_wrapper .slider_content h3 {
    font-size: 21px;
    font-weight: bold;
    color: #000;
    margin-bottom: 22px;
}

.slick_slider_wrapper .slider_content.orange h3 {
    color: #f16e43;
}

.slick_slider_wrapper .slider_content p {
    font-size: 21px;
    font-weight: 300;
    color: #000;
    min-height: 155px;
}

/* get_started_wrapper */
.get_started_wrapper {
    padding: 130px 0 140px;
}

.get_started_content {}

.get_started_content h4 {
    font-size: 55px;
    font-weight: bold;
    color: #f16e43;
    margin-bottom: 41px;
}

.get_started_content p {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 36px;
}

.get_started_content span {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 43px;
    display: inline-block;
}

.orange_btn {
    font-size: 33px;
    font-weight: bold;
    color: #fff;
    background: #f16e43;
    display: block;
    max-width: 425px;
    padding: 15.5px 0;
    text-align: center;
    transition: 0.3s;
}

.orange_btn:hover {
    transform: translateY(-3px);
    text-decoration: none;
    color: #fff;
    background: #2fb34d;
}

/* clients_wrapper */
.clients_wrapper {
    background: url(../images/crop_image.jpg) no-repeat center/cover;
    position: relative;
    z-index: 1;
    padding: 88px 0 13px;
    overflow: hidden;
    min-height: 1383px;
}

.clients_wrapper h5 {
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-bottom: 97px;
    text-transform: capitalize;
}

.get_in_touch_wrapper {
    position: relative;
    margin-top: -600px;
    margin-bottom: 99px;
    z-index: 10;
}

.get_in_touch_wrapper::after {
    content: '';
    background: url(../images/shape.png) no-repeat center/cover;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.clients_wrapper::before {
    content: '';
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.clients_wrap {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-between;
    text-align: center;
}

.clients_wrap li {
    max-width: 16%;
    flex: 0 0 16%;
    margin-bottom: 80px;
}

.clients_wrap li img {
    transition: 0.3s;
}

.clients_wrap li:hover img {
    transform: translateY(-8px);
}

.get_in_touch_content {
    padding-top: 189px;
}

.get_in_touch_content h6 {
    font-size: 55px;
    font-weight: bold;
    color: #000;
    margin-bottom: 55px;
}

.get_in_touch_content p {
    font-size: 21px;
    font-weight: bold;
    color: #000;
    margin-bottom: 35px;
}

.get_in_touch_content span {
    font-size: 21px;
    font-weight: 300;
    color: #000;
}

form.form_type1 {
    max-height: initial;
    padding: 40px 57px;
    max-width: 620px;
    margin-top: 64px;
}

form.form_type1 input,
form.form_type1 textarea {
    width: 510px;
    border-radius: 0;
}

form.form_type1 input[type=button] {
    width: 280px;
    border-radius: 0;
    margin-top: 9px;
    padding: 9px 15px;
    margin-left: 0;
}

form.form_type1 h3,
form.form_type1 h3 span {
    font-size: 35px;
    font-weight: bold;
}

form.form_type1 label {
    font-size: 16px;
}

/* footer */
.copy_right {
    background: #000;
    padding: 47px 0;
}

.copy_right p {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
}

/* Media_Queries */
@media(max-width: 1440px) {
    .slick_slider_wrapper .slider_content {
        padding: 0 25px;
        max-width: 270px;
    }
}

@media(max-width: 1366px) {
    .slick_slider_wrapper .slider_content {
        padding: 0 20px;
        max-width: 250px;
    }
}

@media(max-width: 1280px) {

    form.form_type1 input,
    form.form_type1 textarea {
        width: 454px;
    }
}

@media(max-width: 1200px) {
    .banner_heding_para {
        max-width: 100%;
        padding: 0 20px;
    }

    .banner_heding_para p {
        font-size: 25px;
    }

    .banner_heding_para h1 {
        font-size: 45px;
    }

    .banner_content p {
        font-size: 24px;
    }

    .banner_content h2 {
        font-size: 26px;
    }

    form {
        padding: 40px 30px;
    }

    form input,
    form textarea {
        width: 320px;
    }

    form input[type=button] {
        width: 320px;
    }

    .about_wrapper .banner_content h2 {
        font-size: 40px;
    }

    .about_wrapper .banner_content p {
        font-size: 24px;
    }

    .about_wrapper .banner_content p br {
        display: none;
    }

    .about_wrapper .banner_content .listing_wrapper li p {
        font-size: 20px;
    }

    .about_us_image {
        margin-bottom: 20px;
    }

    .call_ticket {
        padding: 20px 0;
    }

    .call_ticket p {
        font-size: 35px;
    }

    .slick-dots {
        display: flex;
        padding-left: 0;
        justify-content: space-between;
        max-width: 50px;
        margin: 0 auto;
        position: absolute;
        bottom: -70px;
        left: 0;
        right: 0;
        list-style: none;
    }

    .slick-dots li {
        margin: 0 5px;
    }

    .slick_slider_wrapper .slick-arrow {
        display: none !important;
    }

    .slick-dots li button {
        font-size: 0;
        border-radius: 50%;
        padding: 5px;
        border: 1px solid #fff;
        background: #fff;
        outline: none;
    }

    .slick-dots li.slick-active button {
        border: 1px solid #f16e43;
        background: #f16e43;
    }

    .slick_slider_wrapper .slider_content {
        max-width: 300px;
    }

    .get_started_content h4 {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .get_started_content p {
        margin-bottom: 25px;
        font-size: 24px;
    }

    .get_started_content span {
        font-size: 22px;
        margin-bottom: 25px;
    }

    .orange_btn {
        font-size: 20px;
        max-width: 250px;
    }

    .clients_wrapper h5 {
        font-size: 40px;
    }

    .clients_wrap li {
        max-width: 25%;
        flex: 0 0 25%;
        margin-bottom: 50px;
    }

    .clients_wrapper {
        min-height: 1530px;
    }

    .get_in_touch_content h6 br {
        display: none;
    }

    .get_in_touch_content h6 {
        font-size: 40px;
    }

    form.form_type1 {
        padding: 40px 30px;
    }

    form.form_type1 h3,
    form.form_type1 h3 span {
        font-size: 30px;
    }

    form.form_type1 input,
    form.form_type1 textarea {
        width: 405px;
    }

    .get_in_touch_content p br {
        display: none;
    }

    .get_in_touch_content span br {
        display: none;
    }
}

@media(max-width: 991px) {
    .logo_wrap a img {
        width: 200px;
        height: 70px;
    }

    .call_wrap span {
        font-size: 18px;
        padding: 10px 15px;
    }

    .call_wrap a {
        font-size: 30px;
    }

    form {
        display: none;
    }

    .banner_wrapper {
        padding: 10px 0 30px;
        height: auto;
    }

    .banner_heding_para {
        margin: 180px auto 15px;
        text-align: left;
        padding: 0;
    }

    .about_wrapper {
        padding: 50px 0 50px;
    }

    .about_wrapper .banner_content h2 {
        font-size: 35px;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .about_wrapper .banner_content .listing_wrapper {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .about_us_image {
        margin-bottom: 0px;
        text-align: center;
    }

    .call_ticket p a {
        margin-left: 15px;
    }

    .call_ticket p {
        font-size: 30px;
    }

    .call_ticket {
        padding: 15px 0;
    }

    .slick_slider_wrapper {
        padding: 60px 0 110px;
    }

    .get_started_img {
        text-align: center;
        margin-bottom: 30px;
    }

    .get_started_wrapper {
        padding: 60px 0 60px;
    }

    .get_started_content h4 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .get_started_content p {
        margin-bottom: 15px;
    }

    .get_started_content span {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .orange_btn {
        max-width: 220px;
    }

    .clients_wrapper {
        padding: 60px 0 13px;
    }

    .clients_wrap li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
        margin-bottom: 30px;
    }

    .clients_wrapper {
        min-height: 1650px;
    }

    .get_in_touch_content h6 {
        font-size: 35px;
        margin-bottom: 15px;
        padding-right: 50px;
    }

    .get_in_touch_content p {
        margin-bottom: 15px;
    }

    form.form_type1 {
        margin-top: 35px;
        max-width: 400px;
    }

    form.form_type1 input,
    form.form_type1 textarea {
        width: 340px;
    }

    .get_in_touch_wrapper {
        margin-bottom: 60px;
    }

    .copy_right {
        padding: 25px 0;
    }

    .slick-dots {
        max-width: 100px;
    }
}

@media(max-width: 767px) {
    .banner_wrapper {
        padding: 10px 15px 30px;
    }

    .about_wrapper {
        padding: 50px 15px 50px;
    }

    .slick_slider_wrapper .slider_content {
        max-width: 280px;
    }

    .get_started_wrapper {
        padding: 50px 15px 50px;
    }

    .clients_wrapper {
        padding: 50px 15px 15px;
    }

    .get_in_touch_wrapper {
        padding: 0 15px;
    }
}

@media(max-width: 640px) {
    .logo_wrap a img {
        width: 150px;
        height: 50px;
    }

    .call_wrap span {
        font-size: 16px;
    }

    .call_wrap a {
        font-size: 20px;
    }

    .banner_heding_para {
        margin: 140px auto 15px;
    }

    .banner_heding_para p {
        font-size: 20px;
    }

    .banner_heding_para h1 {
        font-size: 35px;
    }

    .banner_content p {
        font-size: 20px;
    }

    .banner_content h2 {
        font-size: 24px;
    }

    .listing_wrapper {
        padding-left: 19px;
    }

    .listing_wrapper p::after {
        top: 2px;
        width: 25px;
        height: 25px;
    }

    .about_wrapper .banner_content h2 {
        font-size: 30px;
    }

    .about_wrapper .banner_content p {
        font-size: 20px;
    }

    .about_wrapper .banner_content .listing_wrapper {
        padding-left: 0;
    }

    .call_ticket p {
        font-size: 20px;
    }

    .about_wrapper .banner_content .listing_wrapper li p {
        font-size: 18px;
    }

    .about_wrapper .banner_content .listing_wrapper li p::after {
        top: 5px;
    }

    .get_started_content h4 {
        font-size: 30px;
    }

    .get_started_content p {
        font-size: 20px;
    }

    .get_started_content span {
        font-size: 20px;
    }

    .clients_wrap li {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .clients_wrapper h5 {
        font-size: 35px;
        margin-bottom: 37px;
    }

    .clients_wrapper {
        min-height: auto;
    }

    .get_in_touch_wrapper {
        margin-top: 0px;
    }

    .get_in_touch_wrapper::after {
        display: none;
    }

    .get_in_touch_content {
        padding-top: 50px;
    }

    .get_in_touch_content h6 {
        padding-right: 0px;
    }

    .get_in_touch_content p {
        font-size: 20px;
    }

    .get_in_touch_content span {
        font-size: 18px;
        ;
    }

    .copy_right p {
        font-size: 18px;
    }

    .listing_wrapper p.light br {
        display: none;
    }
}

@media(max-width: 480px) {
    .banner_heding_para p {
        font-size: 18px;
    }

    .banner_heding_para h1 {
        font-size: 25px;
    }

    .banner_content p {
        font-size: 18px;
    }

    .banner_content h2 {
        font-size: 22px;
    }

    .banner_content p {
        font-size: 18px;
    }

    .listing_wrapper p.light {
        font-size: 18px;
    }

    .about_wrapper .banner_content h2 {
        font-size: 24px;
    }

    .about_wrapper .banner_content p {
        font-size: 18px;
    }

    .slick_slider_wrapper .slider_content p {
        font-size: 18px;
    }

    .get_started_content h4 {
        font-size: 24px;
    }

    .get_in_touch_content h6 {
        font-size: 24px;
    }

    .get_started_content p {
        font-size: 18px;
    }

    .get_started_content span {
        font-size: 18px;
    }

    .orange_btn {
        font-size: 18px;
    }

    .clients_wrapper h5 {
        font-size: 24px;
    }

    .get_in_touch_content h6 {
        font-size: 24px;
    }

    .get_in_touch_content p {
        font-size: 18px;
    }

    .get_in_touch_content span {
        font-size: 16px;
    }

    form.form_type1 h3,
    form.form_type1 h3 span {
        font-size: 24px;
    }

    .clients_wrap li {
        max-width: 45%;
        flex: 0 0 45%;
    }

    form.form_type1 {
        padding: 30px 20px;
    }

    form.form_type1 input,
    form.form_type1 textarea {
        width: 276px;
    }

    form.form_type1 input[type=button] {
        width: 100%;
    }

    .copy_right p {
        font-size: 14px;
    }

    .banner_content p br {
        display: none;
    }
}

@media(max-width: 374px) {
    form.form_type1 label {
        font-size: 16px;
        width: 100%;
    }

    .call_wrap span {
        font-size: 13px;
        padding: 7px 10px;
    }

    .call_wrap a {
        font-size: 16px;
        margin-top: 5px;
    }

    .logo_wrap a img {
        width: 120px;
        height: 50px;
    }

    form.form_type1 input,
    form.form_type1 textarea {
        width: 100%;
    }

    .copy_right p {
        font-size: 13px;
    }
}